<p id="notice"><%= notice %></p>

<h1>Listing Blogs</h1>
<h1> this is the change </h1><able>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Author </th>
      <th>Name</th>
      <th>String</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.title %></td>
        <td><%= blog.content %></td>
        <td><%= blog.author_ %></td>
        <td><%= blog.name %></td>
        <td><%= blog.string %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
